{% extends 'base.html' %}
{% block content %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container" id="navbar">
        <div class="d-flex align-items-center ms-auto">
            <span class="fs-6 fw-bold me-2">Hello, Sardor!</span>
            <button type="button" class="btn btn-link px-3 me-2">
                Log out
            </button>
        </div>
    </div>
</nav>
<div class="container">
    <ul class="navbar-nav flex-row">
        <li class="nav-item me-3 me-lg-1">
            <a class="nav-link d-sm-flex align-items-sm-center" href="#">
                <span><i class="fas fa-lock fa-2x me-10"></i></span>
                <span class="d-none d-sm-block ms-1">Block</span>
            </a>
        </li>
        <li class="nav-item me-3 me-lg-1">
            <a class="nav-link" href="#">
                <span><i class="fas fa-unlock fa-2x me-10"></i></span>
            </a>
        </li>
        <li class="nav-item me-3 me-lg-1">
            <a class="nav-link" href="#">
                <span><i class="far fa-trash-can fa-2x fa-solid" style="background:red"></i></span>
            </a>
        </li>
    </ul>
    <div class="me-10"></div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    </div>
                </th>
                <th scope="col">Lorem</th>
                <th scope="col">Ipsum</th>
                <th scope="col">Dolor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    </div>
                </th>
                <td>Sit</td>
                <td>Amet</td>
                <td>Consectetur</td>
            </tr>
            <tr>
                <th scope="row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    </div>
                </th>
                <td>Adipisicing</td>
                <td>Elit</td>
                <td>Sint</td>
            </tr>
            <tr>
                <th scope="row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    </div>
                </th>
                <td>Hic</td>
                <td>Fugiat</td>
                <td>Temporibus</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
<!-- Navbar -->