{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <form method="POST">
        {% csrf_token %}

        <!-- Username input -->
        <div class="form-outline mb-4">
            <input type="text" id="username" class="form-control" />
            <label class="form-label" for="username">Name</label>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" id="user_email" class="form-control" />
            <label class="form-label" for="user_email">Email address</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" id="password1" class="form-control" />
            <label class="form-label" for="password1">Password</label>
        </div>
        <div class="form-outline mb-4">
            <input type="password" id="password2" class="form-control" />
            <label class="form-label" for="password2">Password confirmation</label>
        </div>
        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4">Register</button>

        <div class="text-center">
            <p>Already have an account? <a href="{% url 'login' %}">Log In</a></p>
        </div>
    </form>
</div>
{% endblock %}